body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-dm: 'DM Sans', sans-serif;
  --font-open: 'Open Sans', sans-serif;
  --col-bb-blue: hsl(195, 60%, 85%);
}

* {
  box-sizing: border-box;
  font-family: var(--font-open);
}

/* 
GENERAL BACKGROUND PROPS
*/
.background-general {
  background-repeat: none;
  background-size: cover;
  background-position: center;
}
/* 
HEADER / NAV
*/

header {
  background-image: url("https://ik.imagekit.io/a8p7pl7hs/sites/1philbertcrop_BOSQtvR2m.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1660628916740");
  background: white;
  position: sticky;
  top: 0;
  padding: 2vh;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  text-align: center;
  flex: 1;
}

nav ul li a {
  display: inline-block;
  width: 80%;
  font-size: 1rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-decoration: none;
}

nav ul li a:hover {
  background: white;
  border-bottom: 1px solid black;
}

/* 
DISPLAYS
*/
.flex {
  display: flex;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://ik.imagekit.io/a8p7pl7hs/sites/philbertbaloon_KLudImTyx.png?ik-sdk-version=javascript-1.4.3&updatedAt=1660629266152");
}

/* FONT SIZES, HEADINGS, As, Ps */
h1 {
  background: white;
  border-radius: 3px;
  padding: 2vmin;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

h1, h2, h3, h4 {
  font-family: var(--font-dm);
}

h2 {
  border-bottom: 1px solid hsl(0, 0%, 0%);
}

h3 {
  margin-top: 5vh;
  margin-left: 5vmin;
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

#intro-header {
  margin-top: 5vmin;
}

h3, p, a {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

p {
  text-align: justify;
}

a {
  color: black;
}

/* 
    CODE BLOCKS
*/
.code-container {
  justify-content: center;
  overflow: hidden;
}

pre {
  border-radius: 3px;
  overflow-x: scroll;
  background: var(--col-bb-blue);
}

.docs-block {
  width: 70%;
  margin-left: 15%;
}

/* TABLES STYLE */
.table-block {
  margin-top: 5vh;
}

table {
  text-align: center;
  width: 100%;
}

thead {
  background: var(--col-bb-blue);
}

th {
  padding: 1vmin 3vmin;
}

td {
  padding: 1vmin 3vmin;
  border-bottom: 1px solid var(--col-bb-blue);
}

.under-table-block {
  margin-top: 5vh;
}

footer {
  background-image: url("https://ik.imagekit.io/a8p7pl7hs/sites/1philbertcrop_BOSQtvR2m.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1660628916740");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  padding: 3vmin 1vmin;
  margin-top: 5vmin;
}

footer a, footer p {
  font-size: 0.8rem;
}

footer p {
  text-align: center;
  margin: 0;
}

@media (max-width: 520px) {
  main {
    background-image: url("https://ik.imagekit.io/a8p7pl7hs/sites/philbert_ZBgylOO1n.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1660628645957");
    background-position: center bottom;
  }

  .table-block {
    overflow: scroll;
  }
}
