body {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("ending.webp");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

section {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4vmin;
  margin: 4vmin;
  text-align: center;
}

h1,
p {
  font-size: clamp(1rem, 2vw, 3rem);
}
