<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoJack Horseman API base url</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body__base">
    <header>
        <nav class="header__nav">
            <li><a class="header__nav__links" id="nav__home" href="index.html">BoJack Horseman API</a></li>
            <div class="header__nav__endpoints">
                <li><a class="header__nav__links" href="base.html">Base URL</a></li>
                <li><a class="header__nav__links" href="endpoints.html">Endpoints</a></li>
            </div>
        </nav>
    </header>
    <main class="container">
        <p>
            The BoJack Horseman API is based on the BoJack Horseman Netflix series. Data for characters in this API include name, species, aliases, first and last appearances, occupation, and other information.
        </p>
        <section>
            <h2>Base URL</h2>
            <p>
                The base URL is the initial part of the full URL, so all requests made share the same base. In this API, the base url is
                <code>https://bojack-horseman-api.onrender.com/api</code>. If you make a GET request to <a class="link__text" href="https://bojack-horseman-api.onrender.com/api/endpoints">{base URL}/endpoints</a>
            </p>
<pre>
<code>
[
   {
      "id":1,
      "url":"https://bojack-horseman-api.onrender.com/api/characters/{1 - 100}",
      "name":"character_id",
      "description":"get 1 character by id"
   },
   {
      "id":2,
      "url":"https://bojack-horseman-api.onrender.com/api/characters/species/{character species}",
      "name":"species",
      "description":"get multiple characters of the same species"
   },
   {
      "id":3,
      "url":"https://bojack-horseman-api.onrender.com/api/characters/voice/{voice person name}",
      "name":"voice",
      "description":"get multiple characters by their voice actor"
   },
   {
      "id":4,
      "url":"https://bojack-horseman-api.onrender.com/api/seasons/{number 1 - 6}",
      "name":"seasons",
      "description":"get information about a single season"
   }
]
</code>
</pre>
        </section>

    </main>
</body>
</html>