<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoJack Horseman API</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body class="main__body">
    <header>
        <nav class="header__nav">
            <li><a class="header__nav__links" id="nav__home" href="index.html">BoJack Horseman API</a></li>
            <div class="header__nav__endpoints">
                <li><a class="header__nav__links" href="base.html">Base URL</a></li>
                <li><a class="header__nav__links" href="endpoints.html">Endpoints</a></li>
            </div>
        </nav>
    </header>
    <main class="homepage__main">
        <div class="homepage__main__hero">
            <h1>Welcome to the BoJack Horseman API</h1>
            <p>Home to the docs of the BoJack API, BoJack... Horseman (obviously)</p>
            <a class="homepage__main__nav" href="base.html">Read the docs</a>
        </div>
    </main>
    <footer>ALZ, 2024</footer>
</body>
</html>